language: node_js
sudo: required
node_js: --lts
cache:
    directories:
        - node_modules

branches:
    only:
        - hexo

before_install:
    - npm install -g hexo-cli

install:
    - npm install
    - npm install hexo-deployer-git --save

script:
    - hexo clean
    - hexo generate

after_script:
    - git config user.name "gd4ark"
    - git config user.email "gd4ark@gmail.com"
    - sed -i'' "s~git@github.com:gd4Ark/gd4Ark.github.io.git~https://${ACCESS_TOKEN}@github.com/gd4Ark/gd4Ark.github.io.git~" _config.yml
    - hexo deploy
