/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.header-wrapper .title,
#mobile-header .mobile-header-title .mobile-home-link
    text-transform unset

#app .vuepress-toc
    padding-top 7rem
    right 50px