// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.post-copyright {
    margin: 1em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #4D89FB;
    background-color: #f9f9f9;
    list-style: none;
}