// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

body {
    color: #333;
}

#colophon {
    font-size: 13px;
    text-align: center;
    width: 100%;
}

.post-content .excerpt {
    display: none;
}

.excerpt img {
    max-width: 300px;
}

code,
.post .post-content code {
    padding: 0px 4px;
    color: #4e5980;
    background: #f8f8f8;
    border-radius: 4px;
    font-size: .9em;
    font-family: $code-font-family;
}

.post-copyright {
    margin: 2em 0;
    padding-left: 10px;
    position: relative;
    border-left: 2px solid #aaa;
    list-style: none;
}

.post-content p {
    margin: 22px 0;
}

.gitment-comments-init-btn:disabled,
.gitment-editor-submit:disabled {
    background: #21a3f5;
}