// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.post-copyright {
    margin: 2em 0;
    padding-left: 10px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-left: 2px solid #aaa;
}

.post-content {
    margin-bottom: 0;
}

.post .post-footer {
    margin-top: 0;
    border-top: none;
}