<% if(page.comments && theme.disqus.enabled){ %>
<div class="blog-post-comments">
  <div id="load-disqus">
    <p onclick="loadDisqus()" style="cursor: pointer; text-align: center">
      🥳&nbsp;加载 Disqus 评论
    </p>
  </div>
  <div id="disqus_thread">
    <noscript><%= __('comments.no_js') %></noscript>
  </div>
</div>
<% } %> <% if(page.comments && theme.utterances.enabled){ %>
<div class="blog-post-comments">
  <div id="utterances_thread">
    <noscript><%= __('comments.no_js') %></noscript>
  </div>
</div>
<% } %>
